body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.items {
    padding: 2rem;
}

.faqs {
    display: flex;
    flex-direction: row; /* Change flex-direction to row */
    gap: 1rem;
}

.center {
    display: flex;
    flex-direction: row; /* Change flex-direction to column */
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.rectangle {
    width: 400px;
    height: 722px;
    background-color: #600b954d;
}