body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.site-title {
  align-items: center;
  font-size: 24px; 
  display: flex;
}
.nav {
background-color:#F2F5F7;
color: black;
display: flex;
justify-content:space-between;
align-items:center;
gap: 2rem;
padding: 0 1rem;
font-family: poppins;
}
.nav .logo {
  height: 40px;
  width: auto;
  margin-top: 2px; 
}
.p1 {
  font-family: poppins;
  font-size: 22px;
  padding: 20px;
  border: 1px solid #ffffff;
}

.p1 h1 {
  margin-bottom: 10px;
}

.p1 p {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.p1 button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}
.Arrow {
  background: none;
  border: none;
  font-size: inherit;
  cursor: pointer;
  color: #59afe1; /* Initial color */
  transition: color 0.3s ease;
}

.Arrow:hover {
  color: #555; /* Color on hover */
}

.p2 {
  font-family: poppins;
  font-size: 20px;
  font-style: italic;
}

.pages-container {
  padding: 20px;
}

.initial-text {
  margin-bottom: 20px;
}

.sections-container {
  display: flex;
}

.left-section, .right-section {
  flex: 1;
  padding: 10px;
}

.left-section {
  padding-right: 10px;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.left-logos {
  display: flex;
  gap: 2rem; 
}

.right-section {
  padding-left: 10px;
}

.container {
  display: flex;
}

.items {
  padding: 2rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #005377;
}
.b{
  background-color: #ffffff;
  border-color: #43a6d0;
  border-radius: 5px;
}

.text {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.faqs {
  display: flex;
  flex-direction: row; /* Change flex-direction to row */
  gap: 1rem;
}

.center-padding {
  padding: 2rem;
}
.center {
  display: flex;
  flex-direction: row; /* Change flex-direction to column */
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.center-column {
  display: flex;
  flex-direction: column; /* Change flex-direction to column */
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.center-column p {
 
  font-family: poppins;
  font-size: 14px;
}

.center-rectangles {
  display: flex;
  flex-direction: row; /* Change flex-direction to column */
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.rectangle {
  width: 400px;
  height: auto;
  background-color: #600b954d;
  text-align: center;
  border-radius: 50px;
}

.white-rectangle {
  width: 340px;
  height: auto;
  background-color: #ffffff;
  padding: 1rem;
  margin: 2rem;
}

.white-button {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin: 1rem;
}

.purple-button {
  background-color: #600b95;
  color: #ffffff;
  border: none;
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin: 1rem;
}

.white-rectangle p {
  font-family: "Poppins", sans-serif; /* Set the font to Poppins */
  font-size: 14px; /* Set the font size to 14px */
}

.margin1 {
  margin: 3rem;
}

.footer {
  width: auto;
  height: 800px;
  background-color: #F2F5F7;
  ;
  margin: 0;
  padding: 3rem;
  /* text-align: center; */
}

.footer ul {
  padding: 4rem;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap; /* Prevent items from wrapping onto new lines */
  gap: 3rem;
}

.divider {
  width: 80%; 
  height: 2px;
  background-color: #000000; 
  margin: 5px auto; 
}

.footer-items {
  display: flex;
  flex-direction: row; /* Ensure the flex direction is row */
  gap: 3rem; /* Adjust the gap between list items */
  padding: 0;
  margin: 0;
  height: 140px;
  width: 100%;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 0;
  font-family: poppins;
}
  .footer-items a{
    color:#000000;
    
    text-decoration: none;
}
.footerText {
  width: 80%; /* Adjust width as needed */
  margin: 0 auto; /* Center the text block horizontally */
  text-align: justify; /* Justify the text */
  font-family: poppins;
}

.footerText p {
  margin-bottom: 10px; /* Add spacing between paragraphs */
}

.image-container {
  margin: 10px;
  width: 100%; /* Full width of the container */
  max-width: 150px; /* Maximum width of the container */
  overflow: hidden; /* Hide overflow if the image is larger */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
}
.pictureSocial {
  background-color: #F2F5F7;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.socialIcons {
  margin-top: 40px;
  margin-bottom: 20px; 
}

.picture2 {
  margin: 0 10px; 
}

.picture3 {
  margin-top: 15px; 
}


.company-images {
  margin: 0;
  width: 100%; /* Full width of the container */
  max-width: 500px; /* Maximum width of the container */
  overflow: hidden; /* Hide overflow if the image is larger */
  display: flex; /* Use flexbox for alignment */
  gap: 10px; /* Space between images */
}

.company-images img {
  width: 30%;
  height: 30%;
  object-fit: contain; /* Ensure the image covers the container while maintaining aspect ratio */
}

.background-container {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.background-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill; /* Ensures the image covers the container while maintaining its aspect ratio */
}
