body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.items {
  padding: 2rem;
}

.faqs {
  display: flex;
  flex-direction: row; /* Change flex-direction to row */
  gap: 1rem;
  justify-content: space-evenly;
  align-items: start;
}

.faqs ul{
    gap: 1rem;
}
.faq-text {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5rem;
}

.faq-text h1 {
  margin: 0;
}
.center-padding {
  padding: 2rem;
}
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.center-column {
  display: flex;
  flex-direction: column; /* Change flex-direction to column */
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 50%;
}

.center-column p {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 0;
}

.center-right {
    display: flex;
    width: -webkit-fill-available;
    flex-direction: column;
    float: inline-end;
    margin-right: 6rem;
    margin-top: 3rem;
    align-items: flex-end;
}

.center-right img {
  width: 100px;
  height: 100px;
  object-fit: fill;
}
.center-right h3 {
  width: auto;
  height: auto;
}

.center-rectangles {
  display: flex;
  flex-direction: row; /* Change flex-direction to column */
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.rectangle {
  width: 400px;
  height: auto;
  background-color: #600b954d;
  text-align: center;
  border-radius: 10px;
}

.white-rectangle {
  width: 340px;
  height: auto;
  background-color: #ffffff;
  padding: 1px;
  margin: 2rem;
  border-radius: 5px;
}

.white-rectangle button{
  
}

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.white-button {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin: 1rem;
  border-radius: 8px;
  font-weight: bold;
}

.purple-button {
  background-color: #600b95;
  color: #ffffff;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  margin: 0rem;
  border-radius: 8px;
  font-weight: bold;
  height: fit-content;
}

.white-rectangle p {
  font-family: "Poppins", sans-serif; /* Set the font to Poppins */
  font-size: 14px; /* Set the font size to 14px */
}

.margin1 {
  margin: 3rem;
}

.footer {
  width: auto;
  height: 800px;
  background-color: #F2F5F7;
  margin: 0;
  padding: 3rem;
  /* text-align: center; */
}

.center-column-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.footer ul {
  padding: 4rem;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap; /* Prevent items from wrapping onto new lines */
  gap: 3rem;
}

.divider {
  width: 100%;
  height: 2px; /* Adjust the thickness of the divider */
  background: #000; /* Change the color as needed */
  padding: 0;
}

.footer-items {
  display: flex;
  flex-direction: row; /* Ensure the flex direction is row */
  gap: 3rem; /* Adjust the gap between list items */
  padding: 0;
  margin: 0;
  height: 200px;
  width: 100%;
  justify-content: space-between;
}

.image-container {
  margin: 10px;
  width: 100%; /* Full width of the container */
  max-width: 150px; /* Maximum width of the container */
  overflow: hidden; /* Hide overflow if the image is larger */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
}

.company-images {
  margin: 0;
  width: 100%; /* Full width of the container */
  overflow: hidden; /* Hide overflow if the image is larger */
  display: flex; /* Use flexbox for alignment */
  gap: 0; /* Space between images */
  justify-content: space-between;
  padding-left: 0rem;
  padding-right: 0rem;
}

.company-images img {
  width: 30%;
  height: 30%;
  object-fit: contain; /* Ensure the image covers the container while maintaining aspect ratio */
}

.background-container {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.background-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill; /* Ensures the image covers the container while maintaining its aspect ratio */
}

.topic{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topic h2{
  text-align: center;
}

.questions{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.questions ul{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.questions p{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 43rem;
  font-weight: bold;
}
.questions button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid #003f5c; /* Use the desired color */
  border-radius: 4px; /* Adjust as needed */
  background-color: transparent;
  color: #003f5c; /* Use the desired color */
}

.question-line {
  flex-grow: 1;
  height: 1px;
  background-color: #003f5c; /* Use the desired color */
  margin-right: 10px; /* Adjust spacing as needed */
  border: 2px;
}